/* Theme */

nav {
	background: #EDEDED;
	color: #4B5658;
}

.menu {
  margin-right: 1rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  &__item {
    padding: 0.25rem 0;
    margin: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

main {
	background: #EDEDED;
	color: #4B5658;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}
