.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  background: #EDEDED;
	color: #4B5658;

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
  }

  .content-grid {
    flex: auto;
    width: calc(100% - 20rem);
    margin: 0 auto;
  }

  .about-wrapper {

    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;

      p {
        font-weight: 300;
        padding: 0.5rem 0;
        text-align: left;
      }

      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
